/* =======================
        CSS RESET
======================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* =======================
        CSS VARIABLES
======================== */

:root{
    --primary-color: #6F4E37;
    --secondary-color: #D4A373;
    --light-color: #FFF8F0;
    --dark-color: #2C1810;
    --text-color: #333333;
}

/* =======================
        HEADER
======================== */

header{
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 70px;
}

.logo h1{
    color: white;
    font-size: 32px;
}

/* =======================
        NAVIGATION
======================== */


nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: 0.3s;
}

/* =======================
        LOGO
======================== */

.logo{
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img {
    width: 48px;
    height: 48px;
    object-fit:contain;
}

/* =======================
       HERO SECTION
======================== */

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 70px;
    gap:60px;
    background-color: var(--light-color);
    overflow: hidden;
}

.hero-content{
    flex:1;
}

.hero-image{
    flex:1;
}

.hero-image img {
    width: 100%;
    max-width: 550px;
    display:block;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
    transition: 0.4s;
}

.hero-content h2 {
    font-size: 56px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 30px;
    color: var(--text-color);
}

.btn{
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 8px;
    transition: 0.3s;
}

.btn:hover{
    background-color: var(--dark-color);
    transform: translateY(-3px);
}

.hero-image img:hover{
    transform: scale(1.05);
}

/* =======================
       ABOUT SECTION
======================== */

.about{
    padding: 80px 70px;
    background-color: white;
}

.about h2{
    text-align: center;
    font-size: 42px;
    color: var(--primary-color);
    margin: 50px;
}

.about-container{
    display: flex;
    align-items: center;
    gap:60px;
}

.about-image,
.about-content{
flex: 1;
}

.about-image img{
    width: 100%;
    border-radius: 16px;
}

.about-image figcaption{
    margin-top: 12px;
    text-align: center;
    font-style: italic;
    color:#666;
}

.about-content h3{
    font-size: 32px;
    margin-bottom: 20px;
}

.about-content p{
    line-height: 1.8;
    margin-bottom: 20px;
}

.about-content ul{
    list-style: none;
}

.about-content li{
    margin-bottom: 12px;
    font-size: 18px;
}